<div class="quotes">
    <form (submit)="addquote()"  (submit)="addauthor()" > 
        <input 
            type="text"
            name="inputquote"
            placeholder="Enter quote"
            class="quote-input"
            [(ngModel)]="inputquote"

        /><br>
       

        <input 
        type="text"
        name="inputauthor"
        placeholder="Enter authors name"
        class="author-input"
       

    /><br>
    <input type="submit" value="add quote" class="quote-submit"/>

    </form>
    <div class="quote" *ngFor="let quote of quotes; let i= index; ">
        <div class="id">{{i}}</div>
        <div class="content">{{quote.content}}</div><br>
        <div class="try">
            <h2> quote details </h2>
        </div>
        <div class="">
            {{myDate | date}}
        </div>
       
        <div class="upvote">
           
           
            <button class="b1" (click)="likeButtonClick()">Like</button>
           {{numberOfLikes}}
            <button class="b2"  (click)="dislikeButtonClick()">Dislike</button>
            {{numberOfDislikes}}
            
        </div>
       
        <button class="delete" (click)="deleteQuote(i)">Delete quote</button>

    </div>
    
</div>
 